*{
    background-color: #2f124a; 
}

body{
    font-family: "Helvetica";
    display: block;
    background: white;
    width: 400px;
    height: 400px;
    margin: 100px auto;
    
}
/*margin: TOP first */

h1{
    text-align: center;
    background: #CBC3E3;
    padding: 20px;
}

a,li,ul{
    background-color: white;
    font-family: "Lucida Handwriting"
}

ul{
    padding-bottom: 20px;
    margin-top: 10px;
    margin-left: 80px;
    padding-top: 0;
    display: table; 
}

li{
    margin-bottom: 5px;

}




